<ion-content>
	<ion-grid>
		<ion-row>

			<ion-col *ngFor="let area of areas">

				<div style="display: table; height: 50px; width: 100%; overflow: hidden;">
					<div style="display: table-cell; vertical-align: middle; text-align: center;">
						<ion-label class="titulo">{{ area.nome }}</ion-label>
					</div>
				</div>

				<ion-list>

					<button ion-item *ngFor="let fase of area.fases" (click)="entrarFase(fase)" [disabled]="!fase.faseDisp" [color]="fase.faseFeita ? 'secondary' : 'danger'">
						{{ fase.id + 1}}
					</button>

				</ion-list>

			</ion-col>

		</ion-row>
	</ion-grid>
</ion-content>