ion-content {
    background-color: color($colors, bcground) !important;
}

.tabbar {
    background-color: #2d2d2d !important;
    .tab-button-text {
        color: color($colors, danger) !important;
        font-size: 1.4rem;
    }
}

.action-sheet-select {
    .action-sheet-group {
        background-color: #2d2d2d;
        .action-sheet-title{
            color: #fff;
            font-size: 20px;
        }
        .button-inner {
            color: #dedede;
        }
    }
}