page-resultado {
    .titule {
        color: #fff;
        margin-top: 32px !important;
        text-align: center;
    }
    .mensagem {
        color: #fff;
        margin-top: 16px !important;
        text-align: center;
    }
    .btn-voltar {
        bottom: 16px;
        position: absolute;
        right: 16px;
    }
}   